# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
db_backup.sqlite3

# Environment variables
.env
.env.*

# Static files
staticfiles/

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db